<div>
 <!-- <app-mentors></app-mentors> -->
 
 <table class="table table-striped">
  <thead>
      <tr>
        <th>Training Name</th>
        <th>Mentor Name</th>
        <!-- <th>Skills</th> -->
        <th>Status</th>
        <th>Action</th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let training of trainings">
      <td>{{ training.description}}</td>
      <td>{{ training.mentorName }} </td>
      <td>{{ training.status }}</td>
      <td>  <button class="btn btn-link" (click)="doAction(training)"> {{getText(training)}} </button> </td>
    </tr>
  </tbody>
</table>
</div> 

